@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&display=swap');
.first-page-all {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-bg);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.loading-timer {
    font-size: 1.5em;
}


/*********** SCROLL SLIDE SECTION ***********/

.scroll-page-section {
    position: absolute;
    background: var(--main-bg);
    width: 0%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.slide-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20;
    overflow: hidden;
}

.page-slide-nav {
    background: var(--main-bg);
    color: var(--main-fontColor);
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-right: solid 2px #000000;
}

.slide-nav-content {
    color: var(--main-fontColor);
    writing-mode: vertical-lr;
    font-size: 2em;
}

.page-slide-body {
    width: 100vw;
    height: 100vh;
    background: var(--main-bg);
    color: var(--main-fontColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-body-content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
    background: var(--main-bg);
    color: var(--main-fontColor);
}

.slide-content-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    text-align: end;
    font-weight: 500;
}

.slide-contents-arrow {
    font-size: 2.2em;
    font-weight: 100;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--main-fontColor);
}

.slide-nav-icon {
    position: absolute;
    font-size: 2em;
    opacity: 0.5;
    font-weight: 100;
    top: 10%;
    color: var(--main-fontColor);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .first-page {
        height: 90vh;
        width: 100vw;
        background: var(--main-bg);
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        z-index: 10;
    }
    /******** TOP HEADER  ********/
    .first-page-header {
        width: 100%;
        height: 50px;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 1.1em;
    }
    /******** BOTTOM HEADER  *********/
    .first-page-footer {
        width: 100%;
        height: 50px;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    /******** FIRST PAGE BODY  ********/
    .first-page-body {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 4.5em;
        padding-left: 2rem;
        font-weight: 100;
    }
    /******* CONTAINER IN FIRST PAGE BODY  ******/
    .page-body-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .page-body-img {
        z-index: 10;
        background-image: url('../Assets/Images/firstPage-image.jpg');
        width: 150px;
        height: 350px;
        object-fit: fill;
        background-size: cover;
        object-position: right;
        box-shadow: 1px 3px 10px #4a4a4a;
    }
    .coloredpage-content {
        color: var(--styled-font);
    }
    .slide-image-body {
        background: url('../Assets/Images/intro-img.jpg');
        object-fit: fill;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60%;
        width: 100%;
        overflow: hidden;
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .first-page {
        height: 90vh;
        width: 100vw;
        background: var(--main-bg);
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        z-index: 10;
    }
    /******** TOP HEADER  ********/
    .first-page-header {
        width: 100%;
        height: 50px;
        border-top: solid 1px var(--black-color);
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 1.1em;
    }
    /******** BOTTOM HEADER  *********/
    .first-page-footer {
        width: 100%;
        height: 50px;
        border-bottom: solid 1px var(--black-color);
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    /******** FIRST PAGE BODY  ********/
    .first-page-body {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 4.5em;
        padding-left: 2rem;
        font-weight: 100;
    }
    /******* CONTAINER IN FIRST PAGE BODY  ******/
    .page-body-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .page-body-img {
        z-index: 10;
        background-image: url('../Assets/Images/firstPage-image.jpg');
        width: 150px;
        height: 350px;
        object-fit: fill;
        background-size: cover;
        object-position: right;
        box-shadow: 1px 3px 10px #4a4a4a;
    }
    .coloredpage-content {
        color: var(--styled-font);
    }
    .slide-image-body {
        background: url('../Assets/Images/intro-img.jpg');
        object-fit: fill;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60%;
        width: 100%;
        overflow: hidden;
        filter: blur(1px);
        -webkit-filter: blur(1px);
        border-bottom: solid 1px black;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .first-page {
        height: 90vh;
        width: 100vw;
        background: var(--main-bg);
        color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    /******** TOP HEADER  ********/
    .first-page-header {
        width: 100%;
        height: 50px;
        border-top: solid 1px var(--black-color);
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 1.1em;
    }
    /******** BOTTOM HEADER  *********/
    .first-page-footer {
        width: 100%;
        height: 50px;
        border-bottom: solid 1px var(--black-color);
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    /******** FIRST PAGE BODY  ********/
    .first-page-body {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 4.5em;
        padding-left: 2rem;
        font-weight: 100;
    }
    /******* CONTAINER IN FIRST PAGE BODY  ******/
    .page-body-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .page-body-img {
        z-index: 10;
        background-image: url('../Assets/Images/firstPage-image.jpg');
        width: 150px;
        height: 350px;
        object-fit: fill;
        background-size: cover;
        object-position: right;
        box-shadow: 1px 3px 10px #4a4a4a;
    }
    .coloredpage-content {
        color: var(--styled-font);
    }
    .slide-image-body {
        background: url('../Assets/Images/intro-img.jpg');
        object-fit: fill;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60%;
        width: 100%;
        overflow: hidden;
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}