@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&display=swap');
.main-page-section {
    background: var(--main-bg);
    color: var(--main-fontColor);
    width: 100vw;
    min-height: 100vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: none;
}

.contact-section {
    width: 100%;
    margin-top: 9rem;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .sticky-bar {
        z-index: 20;
        position: fixed;
        top: 50%;
        right: 0;
        background: var(--colored-elem);
        opacity: 0.9;
        height: 150px;
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        color: var(--white-color);
        font-size: 1.3em;
    }
    .bar-tag {
        text-decoration: underline;
        font-size: 1.15em;
    }
    .media-lists {
        margin-top: 0.5rem;
    }
    .medial-list-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .medial-list-ul li {
        padding: 0.3rem;
        cursor: pointer;
    }
    .medial-list-ul li a {
        padding: 0.3rem;
        font-size: 1.3em;
        color: var(--white-color);
    }
    .main-header {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        font-size: 1.8em;
        position: fixed;
        z-index: 100;
        color: var(--main-fontColor);
        background: var(--main-bg);
        border-bottom: solid 1px var(--stroke);
        opacity: 0.95;
    }
    .menu-lists {
        display: none;
    }
    .menu-bar {
        cursor: pointer;
    }
    /**************** ABOUT SECTION  **************/
    .about-section {
        width: 100%;
        min-height: 100vh;
    }
    .main-home-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.5rem;
    }
    .main-home-page img {
        width: 100%;
        height: 350px;
        margin-top: -1rem;
        border-radius: 5px;
    }
    .main-home-contents {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-page-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        padding: 0.5rem;
        font-weight: 500;
    }
    .home-page-header {
        text-align: start;
        font-size: var(--header-size);
        opacity: 0;
    }
    .home-page-texts {
        margin-top: 1.5rem;
        font-size: var(--content-size);
        color: var(--white-color);
        opacity: 0;
    }
    .page-line {
        width: 100%;
        height: 1px;
        background: var(--stroke);
        margin-top: 2.5rem;
        opacity: 0;
    }
    /******** BUDGET CONTENT CONTAINER  ********/
    .budget-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
        align-items: center;
    }
    .budget-section img {
        width: 100%;
        margin-top: 9rem;
        height: 350px;
        background: var(--white-color);
    }
    .budget-content-container {
        width: 90%;
        height: 270px;
        margin-top: 3rem;
    }
    .budget-content-header {
        text-align: start;
        font-size: var(--header-size);
        opacity: 0;
    }
    .budget-content-texts {
        margin-top: 2rem;
        font-size: var(--content-size);
        color: var(--white-color);
        opacity: 0;
    }
    /**************** PRODUCT SECTION  **************/
    .products-section {
        margin-top: 9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .products-header {
        font-size: var(--header-size);
        opacity: 0;
    }
    .products-img-container {
        width: 100%;
        height: 500px;
        margin-top: 5rem;
    }
    .image-lists {
        width: 100%;
        height: 100%;
        overflow: auto;
        white-space: nowrap;
        list-style: none;
        overflow-y: hidden;
        padding-bottom: 1rem;
        scroll-snap-type: mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-points-x: 310px;
    }
    .image-container {
        display: inline-block;
        width: 310px;
        background: var(--white-color);
        height: 100%;
        margin-left: 0.5rem;
        scroll-snap-align: start;
        transition: all 0.2s;
    }
    .product-list-item {
        width: 100%;
        height: 100%;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .product-list-item img {
        background: black;
        width: 100%;
        height: 100%;
    }
    .product-desc {
        position: absolute;
        display: flex;
        align-items: center;
        height: 15%;
        padding: 1rem;
        color: white;
        font-size: var(--content-size);
        background: rgb(23, 22, 22);
        opacity: 0.8;
        bottom: 0;
        width: 100%;
    }
    .courasel-btns-container {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btns-courasel {
        width: 80%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .btns-courasel li {
        margin: 0.5rem;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: solid 1px var(--white-color);
        cursor: pointer;
    }
    .addColor {
        background: var(--colored-elem);
    }
    /**************** FAQs SECTION  **************/
    .faqs-section {
        margin-top: 8rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faqs-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .faqs-header {
        font-size: var(--header-size);
        opacity: 0;
    }
    .faqs-container {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .sticky-bar {
        z-index: 20;
        position: fixed;
        top: 50%;
        right: 0;
        background: #daa520;
        opacity: 0.9;
        height: 170px;
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        color: var(--white-color);
        font-size: 1.3em;
    }
    .bar-tag {
        text-decoration: underline;
        font-size: 1.15em;
    }
    .media-lists {
        margin-top: 0.5rem;
    }
    .medial-list-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .medial-list-ul li {
        padding: 0.3rem;
        cursor: pointer;
    }
    .medial-list-ul li a {
        padding: 0.3rem;
        font-size: 1.3em;
        color: var(--white-color);
    }
    .main-header {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        font-size: 1.8em;
        position: fixed;
        z-index: 100;
        color: var(--main-fontColor);
        background: var(--main-bg);
        border-bottom: solid 1px var(--stroke);
        opacity: 0.95;
    }
    .menu-bar {
        cursor: pointer;
    }
    .menu-lists {
        display: none;
    }
    /**************** ABOUT SECTION  **************/
    .about-section {
        width: 100%;
        min-height: 100vh;
    }
    .main-home-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.5rem;
    }
    .main-home-page img {
        width: 100%;
        height: 400px;
        margin-top: -1rem;
        border-radius: 5px;
    }
    .main-home-contents {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-page-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        padding: 0.5rem;
        font-weight: 500;
    }
    .home-page-header {
        text-align: start;
        font-size: var(--header-size-l);
        opacity: 0;
    }
    .home-page-texts {
        margin-top: 1.5rem;
        font-size: var(--content-size-l);
        color: var(--white-color);
        opacity: 0;
    }
    .page-line {
        width: 100%;
        height: 1px;
        background: var(--stroke);
        margin-top: 2.5rem;
        opacity: 0;
    }
    /******** BUDGET CONTENT CONTAINER  ********/
    .budget-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
        align-items: center;
    }
    .budget-section img {
        width: 100%;
        margin-top: 9rem;
        height: 400px;
        background: var(--white-color);
    }
    .budget-content-container {
        width: 90%;
        height: 270px;
        margin-top: 3rem;
    }
    .budget-content-header {
        text-align: start;
        font-size: var(--header-size-l);
        opacity: 0;
    }
    .budget-content-texts {
        margin-top: 2rem;
        font-size: var(--content-size-l);
        color: var(--white-color);
        opacity: 0;
    }
    /**************** PRODUCT SECTION  **************/
    .products-section {
        margin-top: 9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .products-header {
        font-size: var(--header-size-l);
        opacity: 0;
    }
    .products-img-container {
        width: 100%;
        height: 550px;
        margin-top: 5rem;
    }
    .image-lists {
        width: 100%;
        height: 100%;
        overflow: auto;
        white-space: nowrap;
        list-style: none;
        overflow-y: hidden;
        padding-bottom: 1rem;
        scroll-snap-type: mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-points-x: 380px;
    }
    .image-container {
        display: inline-block;
        width: 380px;
        background: var(--white-color);
        height: 100%;
        margin-left: 0.5rem;
        scroll-snap-align: start;
    }
    .product-list-item {
        width: 100%;
        height: 100%;
        background: var(--black-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .product-list-item img {
        background: var(--black-color);
        width: 100%;
        height: 100%;
    }
    .product-desc {
        position: absolute;
        display: flex;
        align-items: center;
        height: 15%;
        padding: 1rem;
        color: var(--white-color);
        font-size: var(--content-size-l);
        background: var(--product-desc);
        opacity: 0.8;
        bottom: 0;
        width: 100%;
    }
    .courasel-btns-container {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btns-courasel {
        width: 80%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .btns-courasel li {
        margin: 0.5rem;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: solid 1px var(--white-color);
        cursor: pointer;
    }
    .addColor {
        background: var(--colored-elem);
    }
    /**************** FAQs SECTION  **************/
    .faqs-section {
        margin-top: 8rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faqs-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .faqs-header {
        font-size: var(--header-size-l);
        opacity: 0;
    }
    .faqs-container {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .sticky-bar {
        z-index: 20;
        position: fixed;
        top: 50%;
        right: 0;
        background: var(--colored-elem);
        opacity: 0.9;
        height: 200px;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        color: var(--white-color);
        font-size: 1.3em;
    }
    .bar-tag {
        text-decoration: underline;
        font-size: 1.2em;
    }
    .media-lists {
        margin-top: 1rem;
    }
    .medial-list-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .medial-list-ul li {
        padding: 0.5rem;
        cursor: pointer;
    }
    .medial-list-ul li a {
        padding: 0.3rem;
        font-size: 1.5em;
        color: var(--white-color);
    }
    .main-header {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        font-size: 1.3em;
        position: fixed;
        z-index: 100;
        color: var(--main-fontColor);
        background: var(--main-bg);
        opacity: 1;
    }
    .main-name {
        font-size: 1.5em;
    }
    .menu-bar {
        display: none;
    }
    .menu-lists {
        display: inline-block;
    }
    .menu-lists-ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .menu-lists-ul li {
        padding: 1rem;
        cursor: pointer;
    }
    /**************** ABOUT SECTION  **************/
    .about-section {
        width: 100%;
        min-height: 100vh;
    }
    .main-home-page {
        display: flex;
        width: 100%;
        margin-top: 3.5rem;
    }
    .main-home-page-cont {
        display: flex;
        flex-direction: row;
        height: 500px;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        margin-top: 3rem;
    }
    .main-home-page img {
        width: 50%;
        height: 90%;
        border-radius: 0%;
    }
    .main-home-contents {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-page-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        padding: 0.5rem;
        font-weight: 500;
    }
    .home-page-header {
        text-align: start;
        font-size: var(--header-size-xl);
        opacity: 0;
    }
    .home-page-texts {
        margin-top: 3rem;
        font-size: var(--content-size-xl);
        color: var(--white-color);
        opacity: 0;
    }
    .page-line {
        width: 100%;
        height: 1px;
        background: var(--stroke);
        margin-top: 4rem;
        opacity: 0;
    }
    /******** BUDGET CONTENT CONTAINER  ********/
    .budget-section {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin-top: 5rem;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
    }
    .budget-section img {
        width: 50%;
        margin-top: 9rem;
        height: 400px;
        background: var(--white-color);
    }
    .budget-content-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 45%;
        padding-left: 1rem;
        margin-top: 5rem;
    }
    .budget-content-header {
        text-align: start;
        font-size: var(--header-size-xl);
        opacity: 0;
    }
    .budget-content-texts {
        margin-top: 3rem;
        font-size: var(--content-size-xl);
        color: var(--white-color);
        opacity: 0;
    }
    .budget-content-containe .page-line {
        width: 100%;
        height: 1px;
        background: var(--stroke);
        margin-top: 4rem;
    }
    /**************** PRODUCT SECTION  **************/
    .products-section {
        margin-top: 9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .products-header {
        font-size: var(--header-size-xl);
        opacity: 0;
    }
    .products-img-container {
        width: 100%;
        height: 500px;
        margin-top: 5rem;
    }
    .image-lists {
        width: 100%;
        height: 100%;
        overflow: auto;
        white-space: nowrap;
        list-style: none;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-bottom: 1rem;
        scroll-snap-type: mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-points-x: 500px;
    }
    .image-container {
        display: inline-block;
        width: 500px;
        background: var(--white-color);
        height: 100%;
        margin-left: 0.5rem;
        scroll-snap-align: start;
    }
    .product-list-item {
        width: 100%;
        height: 100%;
        background: var(--black-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .product-list-item img {
        background: var(--black-color);
        width: 100%;
        height: 100%;
    }
    .product-desc {
        position: absolute;
        display: flex;
        align-items: center;
        height: 15%;
        padding: 1rem;
        color: var(--white-color);
        font-size: 1.3em;
        background: var(--product-desc);
        opacity: 0.8;
        bottom: 0;
        width: 100%;
    }
    .courasel-btns-container {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btns-courasel {
        width: 80%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .btns-courasel li {
        margin: 0.5rem;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: solid 1px var(--white-color);
        cursor: pointer;
    }
    .addColor {
        background: var(--colored-elem);
    }
    /**************** FAQs SECTION  **************/
    .faqs-section {
        margin-top: 8rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faqs-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .faqs-header {
        font-size: var(--header-size-xl);
        opacity: 0;
    }
    .faqs-container {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */


/* /* @media only screen and (min-width: 1200px) {...} */